version: '3.8'
services:
  api:
    build: .
    image: mlops-api
    container_name: mlops-api
    ports:
      - '8000:8000'
    volumes:
      - ./models:/app/models
    environment:
      - PYTHONUNBUFFERED=1
